/* General body styling */
body {
  font-family: 'Adobe Clean', sans-serif;
  background-color: #fff; /* Slightly lighter background color for contrast */
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app-contaniner {
  padding: 10px 40px;
}

/* App container styling */
.app {
  padding: 20px 10px; /* Adjusted padding for smaller screens */
}

/* Header styling */
h1 {
  margin-bottom: 20px;
  color: #69665C;
  font-size: 28px; /* Adjust font size for different screen sizes */
  font-weight: bold;
}

/* Main container styling */
.container {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
  gap: 20px; /* Adjusted gap */
}


/* Responsive adjustments */
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Horizontal layout on medium and larger screens */
    justify-content: flex-start;
    gap: 100px; /* Larger gap on medium screens */
  }

}

@media (max-width: 768px) {
  .app-contaniner {
    padding: 10px; /* Reduced padding for smaller screens */
  }

  .app {
    padding: 20px; /* Increased padding for better readability */
  }

  h1 {
    font-size: 24px; /* Adjusted font size */
  }

  .container {
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Reduced gap */
  }
}
